
.vs/luria/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.csv
*.bed
*.fa
*.gz
*.gff3
*.png
*.npy
*.txt
*.py.swp
*.py~
*.html
data/mm10_data/intersects/venn_partitions/proc_data/length/vim.exe.stackdump
*.svg
*.motif
*.bw
*.pdf
*.Rhistory
*.swp`
*.bw
*.swp
*.swo
.RData
*.narrowPeak
*.xls
*.h5
data/mm10_data/Chip_visual/H3K27ac.bw
*.edu
*.pickle
*.swn
*.pub
